{% extends "base.html" %}
{% block main %}
    {% if nota %}
        <h1>{{nota}}</h1>
    {% else %}
        <form class="form container" action="/eliminar" method="post">
            <div class="form-group">
                <label>Numero del pokemon a eliminar:</label><input name="numero" class="form-control form-control-sm" type="text">
            </div>       
            <button type="submit" class="btn btn-success p-1">Eliminar</button>
        </form>
        {% endif %}
{% endblock %}