body{
    background-color: #EF9A9A;
}

header{
    padding: 10px;
    background-color:#E57373;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1{
    font-size: 26px;
}

header h2{
    font-size: 15px;
}
  
header .title {
    display: flex;
    color: whitesmoke;
}
header .title .logo {
    height: 100px;
    width: auto;
}
header .title .titulos {
    padding: 10px;
    margin-left: 15px;
}

header .login {
    border: 2px solid;
    border-color: #E57373;
    padding: 10px;
    background-color:#FFEBEE;
}

.principal{
    display: flex;
}

.principal h1{
    font-size: 20px;
}

aside{
    background-color: #E57373;
    color: whitesmoke;
    padding: 5px;
    flex: 13%;
}

a:link{
text-decoration:none;
}

main{
    padding: 5px;
    margin: 10px;
    flex: 70%;
    background-color: #FFEBEE;
}

footer{
    padding: 5px;
    margin: 10px;
    background-color: #E57373;
    border: 2px solid;
    border-color: #EF9A9A;
    display: flex;
    justify-content: center;
}