{% extends "base.html" %}
{% block main %}
    {% if success  == 'True' %}
        <div class="alert alert-success alert-dismissible fade show container" role="alert">
            <strong>Se ha añadido con éxito!</strong>
        </div>
    {% else %}
        {% if nosuccess  == 'True' %}
            <div class="alert alert-danger alert-dismissible fade show container" role="alert">
                <strong>Ha habido un problema!</strong> Fallo a la hora de añadir el restaurante.
            </div>
        {% endif %}
    {% endif %} 

    {% if form_add %}
        <form method="POST">
            {% csrf_token %}
            {{ form_add.as_p }}
            <button type="submit">Guardar</button>
        </form>
    {% endif %}
{% endblock %}