{% extends "base.html" %}
{% load static %}
{% block javascript%}
{% endblock %}
{% block main %}
    <h1>Mapa</h1>
        <div class="p-2" id="map" style=" width:600px; height:400px; border: 1px solid #000000;"></div>
{% endblock %}

{% block script %}
<script>
    navigator.geolocation.getCurrentPosition(function(location) {
      console.log(location.coords.latitude);
      console.log(location.coords.longitude);
        var map;
        var center = {lat: location.coords.latitude, lng: location.coords.longitude};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
            center: center,
            zoom: 6
            });
            var marker = new google.maps.Marker({
            position: {lat: location.coords.latitude, lng: location.coords.longitude},
            map:map,
            title: 'Ubication'
            });
        }
        initMap();
    });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHX9VUAnvPAeYuePrcroU1OhSpvILz0ek&callback=initMap" async defer></script>
{% endblock %}
    
   
